server:
  port: 9000

management:
  server:
    port: 9001
    address: 127.0.0.1

spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/shareparty
    username: postgres
    password: password
    configuration:
      pool-name: Master-DB
      max-lifetime: 600000
  liquibase:
    change-log: classpath:/db/db.changelog-master.xml
  main:
    allow-bean-definition-overriding: false

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method
    tags-sorter: alpha